@model CBCenter.Models.ReceivePaymentModel
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:  #095f59;">
        <h3 class="panel-title" style="color:white;font:bold">Receive Payment</h3>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("ReceivePayment", "Payment", FormMethod.Post, new { @id = "formReceivePayment" }))
        {
            
            <div class="panel-body form-horizontal payment-form">
                <div class="form-group">
                    <label for="concept" class="col-sm-3 control-label">Payment Date</label>
                    <div class="col-sm-6">
                        @Html.HiddenFor(m=>m.SchoolsId)
                        @Html.TextBoxFor(m => m.ReceiveDate, "", new { @class = "form-control", @placeholder = "dd/MM/yyyy" })
                        @Html.ValidationMessageFor(m => m.ReceiveDate, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-3 control-label">Received Amount</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Amount, "", new { @class = "form-control", @placeholder = "Enter Received Amount" })
                        @Html.ValidationMessageFor(m => m.Amount, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount" class="col-sm-3 control-label">Payment Mode</label>
                    <div class="col-sm-9">
                        @Html.EnumDropDownListFor(m => m.PaymentMode, "Select Payment Mode", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PaymentMode, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 text-right">
                        <button type="button" id="btnCancelReceivePayment" class="btn btn-danger preview-add-button">
                            <span class="glyphicon glyphicon-warning-sign"></span> Cancel
                        </button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="submit" id="btnsubmit" class="btn btn-default preview-add-button">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>

                </div>

            </div>
        }
    </div>
</div>

<script>
 
    $(document).ready(function () {
        $("#ReceiveDate").val("@System.DateTime.Now.ToString("dd/MM/yyyy")");
        $("#ReceiveDate").datepicker({
            dateFormat: 'dd/mm/yy',
        });

        $('#btnCancelReceivePayment').on('click', function () {
            $('#divRecievPayment').html(null);
            $('#panelAddPayemnt').show();
        });

        $('#formReceivePayment').submit(function (event) {
            event.preventDefault();
            var form = $("#formReceivePayment");
            var action = $(this).attr("action")
            var formData = $(this).serialize();
            if ($(this).valid()) {
                $.ajax({
                    method: 'post',
                    url: action,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        if (data['success'] == "0") {
                            alert("Application Errror !!!!");
                        }
                        else {
                            $('#divRecievPayment').html(null);
                            $('#panelAddPayemnt').show();
                            alert("Payment Add Successfully")
                        }
                        console.log(data);
                    }
                });
            }
            });
    });
</script>


