
@{
    ViewBag.Title = "AddSchool";
}
@model CBCenter.Models.AddSchoolModel
@Scripts.Render("~/bundles/jqueryval")
<div class="panel panel-default">
    <div class="panel-heading"  style="background-color:  #095f59;">
        <h3 class="panel-title" style="color:white;font:bold">Add School</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("AddSchool", "Settings", FormMethod.Post, new { @id = "formAddSchool" }))
        {
            <div class="panel-body form-horizontal payment-form">
                <div class="form-group">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel-body form-horizontal payment-form">
                <div class="form-group">
                    <label for="concept" class="col-sm-3 control-label">School Name</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.SchoolName, "", new { @class = "form-control", @placeholder = "School Name" })
                        @Html.ValidationMessageFor(m => m.SchoolName, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-3 control-label">School Address</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.SchoolAddress, "", new { @class = "form-control", @placeholder = "School Full Address" })
                        @Html.ValidationMessageFor(m => m.SchoolAddress, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount" class="col-sm-3 control-label">Contact No.</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ContactNo, "", new { @class = "form-control", @placeholder = "School Contact Number" })
                        @Html.ValidationMessageFor(m => m.ContactNo, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-sm-3 control-label">Alternate Contact No.</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.AlternateNo, "", new { @class = "form-control", @placeholder = "School Alternate Contact No." })
                        @Html.ValidationMessageFor(m => m.AlternateNo, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-sm-3 control-label">GSTN No.</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.GSTN, "", new { @class = "form-control", @placeholder = "GSTN No." })
                        @Html.ValidationMessageFor(m => m.GSTN, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button type="submit" id="btnsubmit"  class="btn btn-default preview-add-button">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:  #095f59;">
        <h3 class="panel-title" style="color:white;font:bold">School List</h3>

    </div>
    <div class="panel-body">
        <table class="table table-responsive" id="tblBookList">
            <thead>
                <tr>
                    <th>School Name</th>
                    <th>School Address</th>
                    <th>Contact No.</th>
                    <th>GSTN</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
</div>

<script>
    @if(ViewBag.Save!=null)
    {
        <text>
    
    alert("@ViewBag.Save");
    </text>
    }

    $(function () {
      
        $('#btnsubmit').on('click', function () {
            if ($('#formAddSchool').valid()) {
                $(this).val('Please wait ...')
                    .attr('disabled', 'disabled');
                $('#formAddSchool').submit();
            }

        });
        $('#SchoolName').keyup(function () { FindSchoolList($(this).val(), $('#SchoolAddress').val()); });
        $('#SchoolAddress').keyup(function () { FindSchoolList($('#SchoolName').val(), $(this).val()); });
    });

    function FindSchoolList(schoolName, schoolAddress) {
        $.ajax({
            type: 'get',
            url: "@Url.Action("SchoolMasterList", "Settings")",
            data: { schoolName: schoolName, schoolAddress: schoolAddress },
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $('#tblBookList tbody').html('');
                var tblBookList = $('#tblBookList tbody');
                var row = '';
                $.each(data, function (index, value) {
                    row = '<tr><td>' + value.SchoolName + '</td><td>' + value.SchoolAddress + '</td><td>' + value.ContactNo + '</td><td>' + value.GSTN + '</td></tr>';
                    tblBookList.append(row);
                });

            }
            
        });
    }
</script>



